.add-container {
    width: 90%;
    max-width: 600px; /* Adjusted maximum width for responsiveness */
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.add-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.add-container label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    color: #555;
}

.add-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.accounts-container {
    margin-top: 20px;
}

.accounts-container h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.account {
    margin-bottom: 15px;
}

.account label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: #555;
}

.account input {
    width: calc(100% - 10px); /* Adjust width to accommodate labels */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Button styling */
.add-account,
.submit {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin-bottom: 10px;
}

.add-account:hover,
.submit:hover {
    background-color: #0056b3;
}

.show-password {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
}

.show-password:hover {
    color: #0056b3;
}
