.user-container {
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .user-container {
    padding: 10px;
  }
}

.user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.user-header h2 {
  font-size: 24px;
  color: #333;
}

.add-container-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-container-button:hover {
  background-color: #0056b3;
}

.container-list {
  margin-top: 20px;
}

.container-item {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  padding: 20px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.container-item:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  cursor: pointer;
}

.container-header span {
  font-size: 20px;
  margin-left: 0;
  color: #007bff;
}

.account-info {
  margin-top: 10px;
  margin-left: 0;
}

.account-list {
  margin-left: 0;
}

.add-account-button {
  background-color: #024f6b;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.add-account-button-div {
  margin-left: 45px;
}

.add-account-button:hover {
  background-color: #023142;
}

.add-account-form {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 40px;
  margin-left: 50px;
}

.add-account-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.submit-button {
  background-color: #d7dee5;
  color: #f53636;
  border: none;
  padding: 5px 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

.account-item {
  background-color: #f1f2f6;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: -55px;
}

.account-info {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: -20px;
}
.account-info-sub {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 50px;
  margin-left: -50px;
}

.email, .password {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.password {
  color: #666;
}

.show-password-button {
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.show-password-button:hover {
  color: #0056b3;
}

.account-actions button {
  background-color: #e39e9e;
  color: #000000;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 30px;
  margin-left: -20px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.account-actions button:hover {
  background-color: rgb(217, 49, 49);
}

.edit-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: -20px;
  margin-right: 20px;
  border: 1px solid #ad0a0a;
  border-radius: 8px;
}

/* Update submit-button color */
.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 20px;
  margin-left: 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0c73b6;
}

.logout-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 15px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #ad0a0a;
}
