.container {
  width: 70%;
  margin: auto;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}



.heading {
  font-size: 28px; /* Increased font size */
  margin-bottom: 20px;
  color: #333;
}

.add-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 14px 28px; /* Adjusted padding */
  border-radius: 8px;
  cursor: pointer;
  float: right;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
}

.add-button i {
  margin-right: 8px;
}

.add-button:hover {
  background-color: #0056b3;
}

.list {
  list-style: none;
  padding: 0;
}

.container-item {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.container-item:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.website {
  font-size: 24px; /* Increased font size */
  color: #007bff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-password {
  background-color: transparent;
  border: none;
  font-size: 18px; /* Increased font size */
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.show-password:hover {
  color: #0056b3;
}

.accounts {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.account-item {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 12px;
  margin-top: 10px;
}

.email,
.password {
  font-size: 18px; /* Increased font size */
  margin-bottom: 5px;
}

.no-passwords {
  font-size: 20px; /* Increased font size */
  color: #999;
}

.add-account-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 12px 24px; /* Adjusted padding */
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.add-account-button:hover {
  background-color: #882121;
}

.add-account-form {
  margin-top: 10px;
}

.add-account-form input {
  width: calc(100% - 24px);
  padding: 14px; /* Adjusted padding */
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.submit {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 14px 28px; /* Adjusted padding */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit:hover {
  background-color: #0056b3;
}

.delete-button,
.edit-button {
  background-color: #dc3545; /* Change button color */
  color: #fff;
  border: none;
  padding: 10px 20px; /* Adjusted padding */
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px; /* Add margin between buttons */
  transition: background-color 0.3s ease;
}

.delete-button:hover,
.edit-button:hover {
  background-color: #c82333; /* Change button color on hover */
}

.edit-form {
  margin-top: 10px;
}

.edit-form input {
  width: calc(100% - 24px);
  padding: 14px; /* Adjusted padding */
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.submit {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 14px 28px; /* Adjusted padding */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}
